@import "tailwindcss";

/* ============================
   RESET
============================ */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #000;
  color: #fff;
}

#spin-page select,
#spin-page option {
  background-color: transparent;
  border: blue 1px solid;
}

#spin-page input {
  border: blue 1px solid;
}
#promo-page select,
#promo-page option {
  background-color: transparent;
  border: #0d1f29 1px solid;
}
#promo-page select,
#promo-page option {
  background-color: transparent;
  border: #0d1f29 1px solid;
}
#promo-page input {
  border: #0d1f29 1px solid;
}
#promo-page input:focus,
#promo-page select:focus,
#promo-page a:focus  {
  border-color: #3b82f6; /* blue on focus */
  outline: none;
}

#__next,
body>div {
  min-height: 100vh;
}

/* ============================
   MOBILE-FIRST
   (default visible)
============================ */
html,
body {
  min-height: 100%;
}

#spin-page {
  background-image: url("/bg.png");
  background-size: cover;
  /* Full screen */
  background-position: center;
  /* Center crop */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Optional (disable on iOS if issues) */

  display: block;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
}

#promo-page {
  background-image: url("/bg-promo.jpg");
  background-size: cover;
  /* Full screen */
  background-position: center;
  /* Center crop */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Optional (disable on iOS if issues) */

  display: block;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  
  color: #0d1f29;
}
.promo-form {
  background-color: rgba(255, 255, 255, .75);
}
.promo-form button {
  background-color:#0d1f29;
}

/* ============================
   DESKTOP / TABLET BLOCK
============================ */
@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  body::before {
    content: "Bu səhifə yalnız mobil cihazlar üçün nəzərdə tutulub";
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 24px;
    line-height: 1.4;
  }

  /* Hide entire app */
  body>* {
    display: none !important;
  }
}