@import "tailwindcss";

/* ============================
   RESET
============================ */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #000;
  color: #fff;
}
select, option {
  background-color: transparent;
  border: blue 1px solid;
}
input {
  border: blue 1px solid;
}
#__next,
body>div {
  min-height: 100vh;
}

/* ============================
   MOBILE-FIRST
   (default visible)
============================ */
html,
body {
  min-height: 100%;
}

body {
  background-image: url("/bg.png");
  background-size: cover;
  /* Full screen */
  background-position: center;
  /* Center crop */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Optional (disable on iOS if issues) */

  display: block;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;

}

/* ============================
   DESKTOP / TABLET BLOCK
============================ */
@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  body::before {
    content: "Bu səhifə yalnız mobil cihazlar üçün nəzərdə tutulub";
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 24px;
    line-height: 1.4;
  }

  /* Hide entire app */
  body>* {
    display: none !important;
  }
}