version: "3.9"

services:
  backend:
    build: ./back
    ports:
      - "8000:8000"
    volumes:
      - ./back:/app

  frontend:
    build: ./front
    ports:
      - "3000:3000"
    # volumes:
    #   - ./front:/app
