version: "3.9"

services:
  backend:
    build: ./back
    ports:
      - "8000:8000"
    volumes:
      - ./back:/app
      - ./back/staticfiles:/app/staticfiles

  frontend:
    build: ./front
    ports:
      - "3000:3000"
    # volumes:
    #   - ./front:/app
  experience:
    build: ./balique
    ports:
      - "3001:3001"
